

body{
background-color: rgba(167, 250, 253, 0.767);
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
margin: 0;
padding: 0;
}

main{
margin: 20px 0;
text-align: center;
max-width: 90;
}

button{
    background-color: aquamarine;
    font-size: 22px;
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    color: aqua;
}

button:hover{
    background-color: antiquewhite;
    box-shadow: none;
    transition: 0,5s;
}

.passo{
    display: none;
}

.passo.ativo{

display:block
}
